# Dépendances
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environnement
.env
.env.local
.env.*

# Système
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Build
dist/
build/

# IDE
.idea/
.vscode/
*.swp
*.swo 